<!-- ko if: isPaymentAvailable() -->
<div class="actions">
    <div class="secondary">
        <div class="osc-place-order-block checkout-addition-block col-mp mp-12" style="width: 100%;text-align: initial;padding-bottom: 1rem;padding-top: 1rem;">
            <div class="osc-newsletter field choice col-mp mp-12">
                <input type="checkbox" checked="checked" name="bolt-newsletter" id="bolt-place-order-newsletter">
                <label for="id="><span>Register for newsletter</span></label>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->